<main>

  <section>
    <div class="navbar">
      <img src="https://res.cloudinary.com/dimly1skf/image/upload/v1602976766/nav-toggle_htfqwj.png" class="nav-toggle">
      <img src="https://res.cloudinary.com/dimly1skf/image/upload/v1602975983/rickowens_logo_1200x1200-removebg_vvnkte.png" class="logo">
    </div>

    <div class="title">
      <div class="big-text">
        <h1>PHLEGETHON</h1>
        <h3>MENSWEAR SS21</h3>
      </div>
      <p class="p-1">PHLEGETHON IS ONE OF THE RIVERS IN THE INFERNO DESCRIBED IN DANTE’S DIVINE COMEDY, NOT QUITE THE CENTER OF HELL BUT ON THE WAY THERE. </p>
      <br>
      <p class="p-2">MY LAST FALL RUNWAY SHOULDER FREAK OUT WASN’T ABOUT POWER, IT WAS ABOUT DEFIANCE — DEFIANCE IN THE FACE OF THREAT.</p>
    </div>

    <div class="slides">
      <img src="https://res.cloudinary.com/dimly1skf/image/upload/v1602968494/https___hypebeast.com_image_2020_07_rick-owens-spring-summer-2021-collection-lookbook-PHLEGETHON-1-1_er5rma.jpg" class="img-1">
      <img src="https://res.cloudinary.com/dimly1skf/image/upload/v1602968494/https___hypebeast.com_image_2020_07_rick-owens-spring-summer-2021-collection-lookbook-PHLEGETHON-30-1_xefa1r.jpg" class="img-2">
      <img src="https://res.cloudinary.com/dimly1skf/image/upload/v1602968494/https___hypebeast.com_image_2020_07_rick-owens-spring-summer-2021-collection-lookbook-PHLEGETHON-17-1_bg96lt.jpg" class="img-3">
    </div>
  </section>

</main>
